body {
  margin: 0;
  padding: 0;
  background-color: #181818;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  color: white;
}

.fas {
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    'header header'
    'content thumbnails';
  grid-template-columns: 7fr 3fr;
}

/* Header */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #202020;
  z-index: 1;
  grid-area: header;
}

button {
  border: none;
  background-color: transparent;
}

.left-side {
  display: flex;
  align-items: center;
}

#logo {
  height: 100px;
}

.search-bar {
  display: flex;
  text-align: center;
}

input {
  width: 30vw;
  height: 28px;
  background-color: #202020;
  color: white;
  border: 1px solid #313131;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #3ea6ff;
}

.fa-search {
  height: 32px;
  width: 65px;
  background-color: #313131;
  color: #6f6f6f;
  cursor: pointer;
}

.fa-microphone {
  margin-left: 15px;
}

.right-side {
  display: flex;
  align-items: center;
  margin-right: 28px;
}

.right-side button {
  margin-right: 14px;
}

.fa-video {
  position: relative;
}

.fa-video::after {
  position: absolute;
  top: 25%;
  left: 25%;
  content: '\f067';
  font-size: 10px;
  color: #202020;
}

.fa-user {
  width: 34px;
  height: 34px;
  background-color: #313131;
  border-radius: 50%;
}

/* Video Container */

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  margin-left: 104px;
  grid-area: content;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Up Next Section */

.thumbnails {
  display: flex;
  flex-direction: column;
  grid-area: thumbnails;
  margin-top: 80px;
  margin-left: 128px;
  margin-right: 104px;
}

.thumbnail {
  display: flex;
  font-size: 12px;
  margin-bottom: 5px;
}

.preview {
  position: relative;
}

.preview p {
  position: absolute;
  bottom: 0px;
  left: 128px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-weight: 700;
}

.preview img {
  max-width: 168px;
}

.thumbnail-description {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.thumbnail-description div {
  padding-bottom: 4px;
}

.track-name {
  font-size: 14px;
  font-weight: 700;
}

.gray-text {
  color: #aaa;
}
